<!-- templates/posts/includes/fullpost.html -->


<h2>
    {{ post.title }}
</h2>
<ul>

  {% if not no_author %}
      <li>
        <h3>Автор: {{ post.author }}</h3>
      </li>
  {% endif %}

  <li>
    <p>Дата публикации: {{ post.created.strftime('%Y-%m-%d') }}</p>
  </li>
</ul>
<div class="tags">
    {% for tag in post.tags %}
        <a class="btn btn-primary" href="{{ url_for('posts.post_tag', tag_slug=tag.slug) }}" role="button">{{ tag.title }}</a>
    {% endfor %}
</div>
<div class="main-content">
    <p>
      {{ post.text|truncate(50, True) }}
    </p>
</div>


<p>
    <a href="{{ url_for('posts.show_post', post_slug=post.slug) }}"> Читать полностью </a>
</p>

{% if not group %}
    {% if post.group%}
      <p>
        <a href="{{ url_for('posts.post_group', group_slug=post.group.slug) }}"> Все записи группы {{ post.group.slug }} </a>
      </p>
        <p>Группа: {{ post.group }}</p>
    {% else %}
      <p> Группа отсутствует </p>
    {% endif %}
{% endif %}