<!-- templates/posts/profile.html -->

{% extends 'base.html' %}

{% block title %}
    Профайл пользователя {{ user }}
{% endblock %}

{% block content %}

    <div class="mb-5">
      <h1>Все посты пользователя {{ user.username }}</h1>
      <h3>Всего постов: {{ 0 }}</h3>

      {% if is_authenticated and not self %}
          {% if following %}
            <a
              class="btn btn-lg btn-light"
              href="#" role="button"
            >
              Отписаться
            </a>
          {% else %}
                  <a
                    class="btn btn-lg btn-primary"
                    href="#" role="button"
                  >
                    Подписаться
                  </a>
           {% endif %}

      {% endif %}

    </div>

      {% for post in object_list %}
        <article>

          {% include 'includes/fullpost.html' %}

        </article>

          {% if not loop.last %}
            <hr>
          {% endif %}

      {% endfor %}

{% endblock %}