<!-- templates/posts/show_post.html -->

{% extends 'base.html' %}



{% block title %}
  Страница поста {{ post.id }}
{% endblock %}

{% block content %}

  <div class="row">
    <aside class="col-12 col-md-3">
      <ul class="list-group list-group-flush">

        {# Название поста #}
        <li class="list-group-item">
          Название: <b>{{ post.title }}</b>
        </li>

        <li class="list-group-item">
          Рейтинг: <b>{{ rating }}</b>
        </li>

        <li class="list-group-item">
          Дата публикации: {{ post.created.strftime('%Y-%m-%d') }}
        </li>

        <li class="list-group-item">
            {% if post.group %}
                <p>Группа: {{ post.group }}</p>
                <p>
                  <a href="{{ url_for('posts.group_list', group_slug=post.group.slug) }}"> Все записи группы {{ post.group.slug }} </a>
                </p>
            {% else %}
              <p> Группа отсутствует </p>
            {% endif %}
        </li>

        <li class="list-group-item">
          Автор: {{ post.author.get_full_name }}
        </li>

        <li class="list-group-item d-flex justify-content-between align-items-center">
          Всего постов автора:  <span >{{ 1 }}</span>
        </li>

        <li class="list-group-item">
          <a href="{{ url_for('users.show_profile', user_slug=1) }}">
            все посты пользователя
          </a>
        </li>

      </ul>
    </aside>
    <article class="col-12 col-md-9">

      <div style="padding-left:0px">
          <div style="padding-bottom:20px">
<!--  Вставка картинки  -->
          </div>
      </div>

      <p>
          {{ post.text }}
      </p>

<!--        Проверка на авторизацию -->





    </article>

    <div class="container py-5">
      <div class="row justify-content-center">

<!--          форма комментариев -->


      </div>
    </div>
    <hr>
    <div style="padding-bottom:30px">

        {% if not comments_count %}
            <h3>Комментарии к посту отсутствуют</h3>
        {% else %}
            <h3>Комментариев к посту: {{ comments_count }}</h3>
        {% endif %}

    </div>



  </div>

{% endblock %}